.gallery-module {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px 0;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  overflow: hidden;
}
.gallery-module,
.gallery-module .gallery-module__wrapper {
  *zoom: 1;
}
.gallery-module:before, .gallery-module:after,
.gallery-module .gallery-module__wrapper:before,
.gallery-module .gallery-module__wrapper:after {
  content: ' ';
  display: table;
}
.gallery-module:after,
.gallery-module .gallery-module__wrapper:after {
  clear: both;
}
.gallery-module .gallery-module__wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.gallery-module .gallery-module__wrapper.is-active {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}
.gallery-module .gallery-module__slide {
  float: left;
  display: block;
  text-align: center;
}
.gallery-module .gallery-module__slide img {
  max-width: 100%;
  max-height: auto;
}
