.snoozeable-module {
  position: relative;
  overflow: hidden;
}
.snoozeable-module,
.snoozeable-module .snoozeable-module__wrapper {
  *zoom: 1;
}
.snoozeable-module:before, .snoozeable-module:after,
.snoozeable-module .snoozeable-module__wrapper:before,
.snoozeable-module .snoozeable-module__wrapper:after {
  content: ' ';
  display: table;
}
.snoozeable-module:after,
.snoozeable-module .snoozeable-module__wrapper:after {
  clear: both;
}
.snoozeable-module .snoozeable-module__wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.snoozeable-module .snoozeable-module__wrapper.is-active {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}
.snoozeable-module .snoozeable-module__slide {
  float: left;
  display: block;
}
.snoozeable-module .snoozeable-module__slide img {
  max-width: 100%;
  max-height: auto;
}
